[submodule "sample/components/AgIsoStack-plus-plus/isobus"]
	path = sample/components/AgIsoStack-plus-plus/isobus
	url = https://github.com/Meisterschulen-am-Ostbahnhof-Munchen/AgIsoStack-plus-plus.git